/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

/* Styles for the TOC sidebar */
.toc-sidebar {
  border-right: 1px solid #eaeaea;
}

.toc-sidebar h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.toc-sidebar nav {
  padding-left: 15px;
}

.toc-sidebar nav a {
  display: block;
  margin-bottom: 5px;
}

.content-wrapper {
  display: flex;
}

.content {
  padding-left: 20px;
}
