---
layout: default
---
<!-- card.html -->
<div class="page">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    <br>
    <blockquote>
      <p class="page-description" style="font-size:16px">
        {{ page.teaser }}
      </p>
      <p class="page-description" style="font-size:12px"> 
        {% if page.keywords.size > 0 %}
          Keywords:
          {% for keyword in page.keywords %}
            <i class="fa-solid fa-hashtag fa-sm"></i>&nbsp;{{ keyword }}&nbsp;&nbsp;
          {% endfor %}
        {% endif %}
      </p>
    </blockquote>
    <hr class="solid">
  </header>

  <div class="content-wrapper">
    <aside class="toc-sidebar">
      <nav class="toc">
        <h2>Table of Contents</h2>
        {{ content | toc_only }}
      </nav>
    </aside>
    <main class="content">
      <article>
        {{ content }}
      </article>
    </main>
  </div>
</div>
