<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ page.title }}</h5>
      {% if page.date %}
        <p class="card-text">
          <small class="text-muted">
            <i class="fa-solid fa-calendar"></i>&nbsp; Date: {{ page.date | date: '%B %d, %Y' }}
          </small>
        </p>
      {% endif %}
      {% if page.author %}
        <p class="card-text">
          <small class="text-muted">
            <i class="fa-solid fa-user"></i>&nbsp; Author: {{ page.author }}
          </small>
        </p>
      {% endif %}
      <p class="card-text">{{ content }}</p>
      <p class="card-text">
        {% if page.domain %}
          <small class="text-muted">
            <i class="fa-solid fa-network-wired"></i>&nbsp; Domain: 
            {% assign domains = page.domain %}
            {% for domain in domains %}
              <a href="{{ site.url }}{{ site.baseurl }}/{{ domain | downcase | replace: ' ', '-' }}">{{ domain }}</a>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </small>
        {% endif %}
        {% if page.subdomain %}
          <br>
          <small class="text-muted">
            <i class="fa-solid fa-sitemap"></i>&nbsp; Subdomain: 
            {% assign subdomains = page.subdomain %}
            {% for subdomain in subdomains %}
              {{ subdomain }}{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </small>
        {% endif %}
        {% if page.resource %}
          <br>
          <small class="text-muted">
            <i class="{{ resource.icon | default: 'fas fa-file' }}"></i>&nbsp; Type of Resource: {{ page.resource }}
          </small>
        {% endif %}
      </p>
    </div>
  </div>
</body>
</html>
