---
layout: default
---

<style>
  hr.rounded {
    border-top: 5px solid #bbb;
    border-radius: 5px;
  }

  sl-button.attribute::part(base) {
    border-radius: 0;
    background-color: #002868;
    color: white;
  }

  sl-button.attribute::part(base):hover {
    transform: scale(0) rotate(0deg);
  }

  .noHover {
    pointer-events: none;
  }

  sl-tag::part(base) {
    border-width: 1.8px;
    margin-bottom: 7px;
  }

  /* If you want to style just the label portion */
  sl-tag::part(content) {
    font-weight: 500;
  }
</style>

<div class="page">
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
    <!-- this line of code is matching the resource type to its corresponding icon in cards.yml -->
    {% assign resource = site.data.cards.resources | where: "name",
    page.resource | first %}
    <br />
    <div class="page-info" style="background-color: #f2f2f2; padding: 10px">
      <p
        class="page-text"
        style="margin-left: 20px; margin-top: 10px"
        font
        color="#747373"
      >
        <small class="test-muted">
          {% if page.metadata.contributors %}
          <i class="fa-solid fa-user"></i> Contributors: {{
          page.metadata.contributors | replace: '<br />', ', ' }}<br />
          {% endif %} {% if page.metadata.source %}
          <i class="fas fa-link"></i> Source:
          <a href="{{ page.metadata.source }}"
            >{{ page.metadata.source | replace: '<br />', ', ' }}</a
          ><br />
          {% endif %} {% if page.metadata.genre %}
          <i class="fa-solid fa-bars-staggered"></i> Genre: {{
          page.metadata.genre | replace: '<br />', ', ' }}<br />
          {% endif %} {% if page.metadata.typeofdataadvocacy %}
          <i class="fa-solid fa-layer-group"></i> Type of Data Advocacy: {{
          page.metadata.typeofdataadvocacy | replace: '<br />', ', ' }}<br />
          {% endif %} {% if page.metadata.filetype %}
          <i class="fa-solid fa-file"></i> Format: {{ page.metadata.filetype |
          replace: '<br />', ', ' }}<br />
          {% endif %} {% if page.metadata.date %}
          <i class="fa-solid fa-calendar"></i> {{ page.metadata.date | replace:
          '<br />', ', ' }}<br />
          {% endif %} {% if page.metadata.course %}
          <i class="fa-solid fa-graduation-cap"></i> {{ page.metadata.course |
          replace: '<br />', ', ' }}<br />
          {% endif %} {% if page.metadata.university %}
          <i class="fa-solid fa-university"></i> {{ page.metadata.university |
          replace: '<br />', ', ' }}<br />
          {% endif %} {% if page.metadata.instructor %}
          <i class="fa-solid fa-chalkboard-user"></i> Instructor: {{
          page.metadata.instructor | replace: '<br />', ', ' }}<br />
          {% endif %}
        </small>
      </p>
      <p class="page-description" style="font-size: 12px"></p>
    </div>
    <blockquote>
      <p class="page-description" style="font-size: 16px">
        <!--<em>Description:</em><br />-->
        <em>{{ page.teaser }}</em>
      </p>
    </blockquote>
    <p class="page-description" style="font-size: 14px">
      {% if page.keywords.size > 0 %}
      <strong>Keywords: </strong>
      {% for keyword in page.keywords %} {{ keyword -}} {% unless forloop.last
      %}, {% endunless %} {% endfor %} {% endif %}
    </p>
    <hr class="solid" />
  </header>

  <br />

  <article>{{ content }}</article>
</div>
